@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --color-primary: var(--theme-color-primary);
  --color-primary-foreground: var(--theme-color-primary-foreground);
  --color-text: var(--theme-color-text);
  --color-background: var(--theme-color-background);
  --color-background-foreground: var(--theme-color-background-foreground);
  --color-destructive: var(--theme-color-destructive);
  --color-success: var(--theme-color-success);
  --color-border: var(--theme-color-border);
}

@layer base {
  :root {
    --theme-color-primary: #0052cc;
    --theme-color-primary-foreground: #b0c9ef;
    --theme-color-text: #6b7591;
    --theme-color-background: #f5f5f5;
    --theme-color-background-foreground: white;
    --theme-color-destructive: #fe4543;
    --theme-color-success: #38c975;
    --theme-color-border: #e5e7eb;
  }

  [data-theme="dark"] {
    --theme-color-primary-foreground: #002256;
    --theme-color-text: #6b7591;
    --theme-color-background: #0c0f17;
    --theme-color-background-foreground: #151822;
    --theme-color-border: #212737;
  }
}
