@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.animate-scroll {
  animation: scroll 70s linear infinite;
  will-change: transform;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.highlight {
  font-weight: bold; /* Common style for highlighted text */
  border-radius: 4px; /* Rounded corners for a modern look */
  padding: 2px 4px; /* Padding for better spacing */
}

.highlight-light {
  background-color: rgba(0, 94, 255, 0.2); /* Light yellow background */
  color: #002aff; /* Text color for light mode highlight */
}

.highlight-dark {
  background-color: rgba(0, 255, 204, 0.2); /* Light teal background */
  color: #00ffcc; /* Text color for dark mode highlight */
}
